* {
    margin: 0;
    padding: 0;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
}
li {
    list-style-type: none;
}
.icon_blue {
    color: dodgerblue;
}
.white {
    color: white;
}
 /* navbar  */
.logo_text {
    color: dodgerblue;
}
.menu_home {
    font-size: 16px;
}
.menu_hover:hover {
    color: white;
    border-top: 2px solid #0d6efd;
}

/* Slider*/
.slider {
    width: 1920px;
    margin: 0;
}
.carousel-inner p {
    margin-top: 120px;
}
.carousel-inner button {
    margin-bottom: 200px;
}
/* info */
.info {
    margin: 10px 0;
}
.info h3 {
    color: dodgerblue;
    margin: 20px;
}
/* Submenu*/
.submenu {
    background-color: white;
}
.submenu_sub {
    margin: 10px 5px 0;
}
.submenu h4 {
    color: dodgerblue;
}
.submenu-video {
    margin-left: 50px;
    width: 250px;
    height: auto;
    background-color: white;
}
.saas {
    width: 700px;
    height: 315px;
    overflow: hidden;
    margin-right: 50px;
}
/* Services*/
.services h1 {
    padding-bottom: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 70px;
    margin-bottom: 50px;
}
.services_menu div img {
    width: 100px;
    padding: 0 20px;
}
.services_menu h4 {
    color: dodgerblue;
}
 /* Portfolio */
.Portfolio_Block {
    margin-bottom: 50px;
}
.portfolio h1{
    padding-bottom: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 70px;
    margin-bottom: 50px;
}
.Portfolio_Images img {
    width: 400px;
    height: 350px;
    margin-bottom: 50px;
}
.Portfolio_Block div button {
    width: 250px;
    height: 35px;
}
 /* Team  */

.team h1 {
    padding-bottom: 30px;
    border-bottom: 3px solid dodgerblue;
    width: 100px;
    border-bottom-width: unset;
}

/*Slider Avatar */
.slider_avatar {
    padding-top: 50px;
}
.slider_avatar img {
    width: 100px;
    height: 100px;
}
.slider_avatar p {
    margin: 0;
    padding: 60px 0;
}

