* {
    margin: 0;
    padding: 0;
}
.clearfix {
    content: "";
    clear: both;
    display: block;

}
.underline {
    width: 50px;
    height: 2px;
    color: blue;
}

 /* navbar  */
.logo_text {
    color: dodgerblue;
}
.menu_home {
    font-size: 16px;
}
.menu_hover:hover {
    color: white;
    border-top: 2px solid #0d6efd;
}

/* Slider*/
.slider {
    width: 1920px;
    margin: 0;
}
.carousel-inner p {
    margin-top: 120px;
}
.carousel-inner button {
    margin-bottom: 200px;
}
/* info */
.info {
    margin: 10px 0;
}
.info h3 {
    color: dodgerblue;
    margin: 20px;
}
/* Submenu*/
.submenu {
    background-color: lightgray;
}
.submenu_sub {
    margin: 10px 5px;
}
.submenu h4 {
    color: dodgerblue;
}
.submenu-video {
    margin-left: 50px;
    width: 250px;
    height: auto;
    background-color: white;
}
.saas {
    width: 700px;
    height: 315px;
    overflow: hidden;
    margin-right: 50px;
}

