* {
    margin: 0;
    padding: 0;
}
.clearfix {
    content: "";
    clear: both;
    display: block;
}
hr {
    width: 60px;
    color: dodgerblue;
}
li {
    list-style-type: none;
}
.icon-blue {
    color: dodgerblue;
}
.white {
    color: white;
}
 /* navbar  */
.logo-text {
    color: dodgerblue;
}
.menu-home {
    font-size: 16px;
}
.menu-hover:hover {
    color: white;
    border-top: 2px solid #0d6efd;
}
.primary {
    color: #0d6efd;
}

/* Slider*/
.slider {
    width: 1920px;
    margin: 0;
}
.carousel-inner p {
    margin-top: 120px;
}
.carousel-inner button {
    margin-bottom: 200px;
}
/* info */
.info {
    margin: 10px 0;
}
.info h3 {
    color: dodgerblue;
    margin: 20px;
}
/* Submenu*/
.submenu {
    background-color: white;
}
.submenu-sub {
    margin: 10px 5px 0;
}
.submenu h4 {
    color: dodgerblue;
}
.submenu-video {
    margin-left: 50px;
    width: 250px;
    height: auto;
    background-color: white;
}
.saas {
    width: 700px;
    height: 315px;
    overflow: hidden;
    margin-right: 50px;
}
/* Services*/
.services h1 {
    padding-bottom: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 70px;
    margin-bottom: 50px;
}
.services-menu div img {
    width: 100px;
    padding: 0 20px;
}
.services-menu h4 {
    color: dodgerblue;
}
 /* Portfolio */
.Portfolio-Block {
    margin-bottom: 50px;
}
.portfolio h1{
    padding-bottom: 20px;
    border-bottom: 3px solid dodgerblue;
    width: 70px;
    margin-bottom: 50px;
}
.Portfolio-Images img {
    width: 400px;
    height: 350px;
    margin-bottom: 50px;
}
.Portfolio-Block div button {
    width: 250px;
    height: 35px;
}
 /* Team  */

.team h1 {
    padding-bottom: 30px;
    border-bottom: 3px solid dodgerblue;
    width: 100px;
    border-bottom-width: unset;
}

/*Slider Avatar */
.slider-avatar {
    padding-top: 50px;
    height: 500px;
}
.slider-avatar img {
    width: 100px;
    height: 100px;
}
.slider-avatar p {
    margin: 0;
    padding: 60px 0;
}
.cube-button {
    width: 25px;
    height: 25px;
}
 /* Our Stories  */
.Our-Stories-h1 {
    padding-bottom: 20px;
    margin-right: 50px;
    border-bottom: 3px solid dodgerblue;
    width: 50px;
}
.div-card  {
    width: 430px;
}

/* Contact us  */
.contact-us-h1 {
    padding-bottom: 20px;
    margin-right: 100px;
    border-bottom: 3px solid dodgerblue;
    width: 50px;
}

/* Our Gallery*/
.our-gallery img {
    width: 80px;
    margin-bottom: 10px;
}